@page "/Vip"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject NavigationManager NavigationManager
@inject IWebAssemblyHostEnvironment HostEnvironment
<h3>ViP Verkehrsbetrieb Potsdam</h3>

@if (Request is not null)
{
    <div class="form-group">
        <EditForm Model="@Request">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <label for="stopId">ID der Haltestelle</label>

            <InputNumber class="form-control" id="stopId" @bind-Value="Request.StopId"/>
            <small id="stopIdHelp" class="form-text text-muted">Numerische ID der gesuchten Haltestelle von 1 bis 1000 (nicht alle IDs sind besetzt).</small>
            <br/>
            <button class="btn btn-primary" type="submit">Anzeigetafel anzeigen</button>
        </EditForm>
    </div>

    @if (Request.StopId is not null)
    {
        <a href="@Request.DotmatrixUrl">
            <img src="@Request.DotmatrixUrl" alt="Abfahrtstafel" class="img-fluid"/>
        </a>
        <br/>
        <br/>
        <a href="@Request.InfoUrl">
            Rohdaten (formatiert)
        </a>
        <br/>
        <br/>
        <a href="@Request.JsonUrl">
            Rohdaten (Json)
        </a>
    }
}

@code {

    private class VipRequestModel
    {
        internal VipRequestModel(string hostUri, IWebAssemblyHostEnvironment environment)
        {
            if (environment.IsDevelopment())
                return;
            HostUri = hostUri;
        }

        [Required(ErrorMessage = "Die Haltestellen-ID muss angegeben werden")]
        [Range(1, 1000, ErrorMessage = "Die Haltestellen-ID muss zwischen 1 und 1000 liegen")]
        public int? StopId { get; set; }

        private string HostUri { get; } = "https://transit.ronto4.dynv6.net/";

        private string BaseUrl => $"{HostUri}api/vip/";
        public string CheckUrl => $"{BaseUrl}{StopId}";
        public string DotmatrixUrl => $"{BaseUrl}{StopId}/dotmatrix";
        public string InfoUrl => $"{BaseUrl}{StopId}/info";
        public string JsonUrl => $"{BaseUrl}{StopId}/json";
    }

    private VipRequestModel? Request { get; set; }

    protected override void OnInitialized()
    {
        Request = new VipRequestModel(NavigationManager.BaseUri, HostEnvironment);
    }

}
