@page "/vip/timetable"
@using System.Globalization
@using Timetables
@using Timetables.Models
@using Timetables.Vip

<h3>ViP - Fahrpläne</h3>

@code
{
    private static string DisplayMinMaxTimeSpan((TimeSpan min, TimeSpan max)? maybeInterval) =>
        maybeInterval is { } interval
            ? interval.min == interval.max
                ? interval.min.TotalMinutes.ToString(CultureInfo.CurrentCulture)
                : $"{interval.min.TotalMinutes.ToString(CultureInfo.CurrentCulture)}–{interval.max.TotalMinutes.ToString(CultureInfo.CurrentCulture)}"
            : "|";

    private static string AnnotateDays(DaysOfOperation days, DaysOfOperation mask) => (days & mask) == mask
        ? ""
        : (days & mask) switch
        {
            DaysOfOperation.Monday => "1",
            DaysOfOperation.Tuesday => "2",
            DaysOfOperation.Wednesday => "3",
            DaysOfOperation.Thursday => "4",
            DaysOfOperation.Friday => "5",
            DaysOfOperation.Saturday => "6",
            DaysOfOperation.Sunday => "7",
            DaysOfOperation.Monday | DaysOfOperation.Tuesday | DaysOfOperation.Wednesday | DaysOfOperation.Thursday => "14",
            DaysOfOperation.Weekday => "15",
            DaysOfOperation.Weekend => "67",
            DaysOfOperation.School => "99",
            DaysOfOperation.Holiday => "98",
            _ => throw new Exception($"Unhandled days {days}.")
        };
    
    private static string TranslateDays(DaysOfOperation days) => TranslateDays(days.ToString());

    private static string TranslateDays(string days) => days.Contains(", ")
        ? string.Join(", ", days.Split(", ").Select(TranslateDays))
        : days switch
        {
            nameof(DaysOfOperation.Monday) => "Mo",
            nameof(DaysOfOperation.SchoolMonday) => "Mo (Schule)",
            nameof(DaysOfOperation.HolidayMonday) => "Mo (Ferien)",
            nameof(DaysOfOperation.Tuesday) => "Di",
            nameof(DaysOfOperation.SchoolTuesday) => "Di (Schule)",
            nameof(DaysOfOperation.HolidayTuesday) => "Di (Ferien)",
            nameof(DaysOfOperation.Wednesday) => "Mi",
            nameof(DaysOfOperation.SchoolWednesday) => "Mi (Schule)",
            nameof(DaysOfOperation.HolidayWednesday) => "Mi (Ferien)",
            nameof(DaysOfOperation.Thursday) => "Do",
            nameof(DaysOfOperation.SchoolThursday) => "Do (Schule)",
            nameof(DaysOfOperation.HolidayThursday) => "Do (Ferien)",
            nameof(DaysOfOperation.Friday) => "Fr",
            nameof(DaysOfOperation.SchoolFriday) => "Fr (Schule)",
            nameof(DaysOfOperation.HolidayFriday) => "Fr (Ferien)",
            nameof(DaysOfOperation.Saturday) => "Sa",
            nameof(DaysOfOperation.Sunday) => "So",
            nameof(DaysOfOperation.School) => "Schule",
            nameof(DaysOfOperation.Holiday) => "Ferien",
            nameof(DaysOfOperation.Weekday) => "Mo–Fr",
            nameof(DaysOfOperation.Weekend) => "Sa–So",
            nameof(DaysOfOperation.Daily) => "täglich",
            _ => days,
        };

    private static bool ShowDays(DaysOfOperation days) => ((DaysOfOperation[])
    [
        DaysOfOperation.Monday,
        DaysOfOperation.Tuesday,
        DaysOfOperation.Wednesday,
        DaysOfOperation.Thursday,
        DaysOfOperation.Friday,
        DaysOfOperation.Saturday,
        DaysOfOperation.Sunday,
        DaysOfOperation.School,
        DaysOfOperation.Holiday,
        DaysOfOperation.Weekday,
        DaysOfOperation.Weekend,
        DaysOfOperation.Daily,
    ]).Contains(days);
    private static IHistoryEntry? _historyEntry = null;
    private static IHistoryEntry? HistoryEntry
    {
        get => _historyEntry;
        set
        {
            _historyEntry = value;
            Line = null;
        }
    }

    private static Line? _line = null;
    private static Line? Line
    {
        get => _line;
        set
        {
            _line = value;
            Routes = [];
        }
    }

    private static List<Line.Route> Routes { get; set; } = [];

    private static DaysOfOperation Days { get; set; } = DaysOfOperation.Daily;

    private static bool CollapseTrips { get; set; } = true;

    private static IList<Line.Trip>? Trips => Line?.Trips.Where(trip => Routes.Contains(trip.Route) && (trip.DaysOfOperation & Days) != DaysOfOperation.None).ToList();

    private static TimetableView TimetableView { get; set; } = null!; /* Will be set later on. */

    private static string SetTimetableView(ICollection<Line.Trip> trips)
    {
        TimetableView = new TimetableView
        {
            SourceTrips = trips,
            DaysOfOperation = Days,
            DoCollapseTrips = CollapseTrips,
        };
        return string.Empty;
    }

    private static StopTimetableView StopTimetableView { get; set; } = null!;

    private static string SetStopTimetableView()
    {
        var allLines = HistoryEntry!.OrderedLinesById.Select(element => element.Value).ToList();
        StopTimetableView = new StopTimetableView(allLines, Trips!, DaysOfOperation.Daily, StartStopForStopView!);
        return string.Empty;
    }

    private static Stop? StartStopForStopView { get; set; } = Stops.SHauptbahnhof;
}

<div class="button-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        @(HistoryEntry is null ? "Fahrplanperiode" : $"ab {HistoryEntry.EffectiveDate}")
    </button>
    <ul class="dropdown-menu">
        @foreach (var historyEntry in VipHistory.History)
        {
            <li><a class="dropdown-item" @onclick="_ => HistoryEntry = historyEntry">ab @historyEntry.EffectiveDate</a></li>
        }
    </ul>

    @if (HistoryEntry is not null)
    {
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @(Line is null ? "Linie" : Line.Name)
        </button>
        <ul class="dropdown-menu">
            @foreach (var line in HistoryEntry.OrderedLinesById.Select(entry => entry.Value))
            {
                <li><a class="dropdown-item" @onclick="_ => Line = line">@line.Name</a></li>
            }
        </ul>
    }
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        @TranslateDays(Days)
    </button>
    <ul class="dropdown-menu">
        @foreach (var days in Enum.GetValues(typeof(DaysOfOperation)).Cast<DaysOfOperation>().Where(ShowDays))
        {
            <li><a class="dropdown-item" @onclick="_ => Days = days">@TranslateDays(days)</a></li>
        }
    </ul>
    <div class="form-check-inline">
        <input class="form-check-input" type="checkbox" value="" checked="checked" id="collapse-trips-checkbox" @onchange="e => { CollapseTrips = e.Value is true; }">
        <label class="form-check-label" for="collapse-trips-checkbox">
            Fasse im Takt verkehrende Fahrten zusammen
        </label>
    </div>
</div>

@if (Line is not null)
{
    @foreach (var route in Line.Routes)
    {
        <div class="form-check-inline">
            <input class="form-check-input" type="checkbox" value="" id="@route.GetHashCode()" @onchange="e => { if (e.Value is true) Routes.Add(route); else Routes.Remove(route); }">
            <label class="form-check-label" for="@route.GetHashCode()">
                @route
            </label>
        </div>
    }
}

<hr/>

@if (Trips is not null && Line is not null)
{
    @SetTimetableView(Trips)
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">
                Haltestelle
            </th>
            @foreach (var trip in TimetableView.Trips)
            {
                <th scope="col" class="text-center">
                    @(trip.DaysOfOperation is { } daysOfOperation ? TranslateDays(daysOfOperation & Days) : "")
                    @if (trip.AnnotationSymbol is { } annotationSymbol)
                    {
                        <hr/>
                        @annotationSymbol
                    }
                </th>
            }
        </tr>
        </thead>
        <tbody>
        @for (var i = 0; i < TimetableView.Stops.Count; ++i)
        {
            <tr>
                <th scope="row" class="align-content-center">@TimetableView.Stops.ElementAt(i).DisplayName</th>
                @foreach (var trip in TimetableView.Trips)
                {
                    <td class="text-center align-content-center">@trip.ElementAt(i)</td>
                }
            </tr>
        }
        </tbody>
    </table>

    <ul class="list-group">
        @foreach (var (symbol, text) in Line.Annotations)
        {
            <li class="list-group-item">
                @symbol: @text
            </li>
        }
    </ul>

    <hr/>

    @if (Routes.Count > 0 && StartStopForStopView is {} startStop)
    {
        @SetStopTimetableView()
        <div class="container text-center">
        <div class="row">
            <div class="col-1">
                <b>@string.Join(", ", StopTimetableView.Lines.Select(line => line.Name))</b>
            </div>
            <div class="col-5">
                <b>&gt; @StopTimetableView.TargetStops.First().DisplayName</b>
                @for (var i = 1; i < StopTimetableView.TargetStops.Count; ++i)
                {
                    <i> oder</i>
                    <b>&gt; @StopTimetableView.TargetStops.ElementAt(i).DisplayName</b>
                }
            </div>
            <div class="col-4">
                <b>@StopTimetableView.StartStop.DisplayName</b>
            </div>
        </div>
        <div class="row">
        <div class="col-6">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" colspan="@StopTimetableView.StopInfos.First().Times.Count">
                        Minuten
                    </th>
                    <th scope="col"></th>
                </tr>
                <tr>
                    <th scope="col">
                        Anschl&uuml;sse
                    </th>
                    @for (var i = 0; i < StopTimetableView.StopInfos.First().Times.Count; ++i)
                    {
                        <th scope="col">
                            [@(i + 1)]
                        </th>
                    }
                    <th scope="col">
                        Haltestellen
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var stopInfo in StopTimetableView.StopInfos)
                {
                    <tr>
                        <td class="text-center align-content-center">@string.Join(", ", stopInfo.ConnectionLines.Select(line => line.Name))</td>
                        @foreach (var minutes in stopInfo.Times)
                        {
                            <td class="text-center align-content-center">
                                @DisplayMinMaxTimeSpan(minutes)
                            </td>
                        }
                        <td class="text-center align-content-center">@stopInfo.Stop.DisplayName</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-4">
        <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">
                h
            </th>
            <th scope="col" colspan="@StopTimetableView.MaximumColumns.moFrColumns">
                Montag–Freitag
            </th>
            <th scope="col" colspan="@StopTimetableView.MaximumColumns.saSoColumns">
                Sa, So
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (hour, info) in StopTimetableView.HourInfos)
        {
            <tr>
                <th scope="row" class="align-content-center">@hour</th>
                @foreach (var moFrDeparture in info.MoFrDepartures)
                {
                    <td class="text-center align-content-center">@moFrDeparture.Minute.ToString("00")<sub>@AnnotateDays(moFrDeparture.Days, DaysOfOperation.Weekday)</sub> [@(moFrDeparture.RouteIndex + 1)]</td>
                }
                @for (var i = info.MoFrDepartures.Count; i < StopTimetableView.MaximumColumns.moFrColumns; ++i)
                {
                    <td class="text-center align-content-center"></td>
                }

                @foreach (var saSoDeparture in info.SaSoDepartures)
                {
                <td class="text-center align-content-center">@saSoDeparture.Minute.ToString("00")<sub>@AnnotateDays(saSoDeparture.Days, DaysOfOperation.Weekend)</sub> [@(saSoDeparture.RouteIndex + 1)]</td>
                }
                @for (var i = info.SaSoDepartures.Count; i < StopTimetableView.MaximumColumns.saSoColumns; ++i)
                {
                <td class="text-center align-content-center"></td>
                }
            </tr>
        }
        </tbody>
        </table>
        </div>
        </div>
        </div>

    }
}
