@using global::Timetables

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col"></th>
        <th scope="col">Anmerkungen</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var (symbol, (stop, routeIndex)) in StopTimetableView.AllTargetStopAnnotations)
    {
        <tr>
            <th scope="row" class="align-content-center"><span class="p-0 fw-normal">@symbol</span></th>
            <!-- <th scope="row" class="align-content-center"><span class="border border-dark p-0 rounded-circle fw-normal">@symbol</span></th> -->
            <td class="text-start align-content-center">
                @if (routeIndex == 0)
                {
                    <span>nur bis @stop.DisplayName</span>
                }
                else if (StopTimetableView.LastStopOfRoute(routeIndex) == stop)
                {
                    <span>체ber Route [@(routeIndex + 1)] nach @stop.DisplayName</span>
                }
                else
                {
                    <span>체ber Route [@(routeIndex + 1)] nur bis @stop.DisplayName</span>
                }
            </td>
        </tr>
    }
    @foreach (var (symbol, text) in StopTimetableView.TripAnnotations)
    {
        <tr>
            <th scope="row" class="align-content-center"><span class="border border-dark p-0 fw-normal">@symbol</span></th>
            <td class="text-start align-content-center">@text</td></tr>
    }
    <tr>
        <th scope="row" class="align-content-center"></th>
        <td class="text-start align-content-center">
            Erkl채rung der Verkehrstage:
            99&#8239;=&#8239;Schultage, 98&#8239;=&#8239;Ferientage.
            Alle anderen Ziffern stehen jeweils f체r einen Wochentag (1&#8239;=&#8239;Montag, &#x2026;, 7&#8239;=&#8239;Sonntag).
            Zwei Ziffern geben von&#x2026;bis an (z.&#8239;B. 74&#8239;=&#8239;Sonntag bis Donnerstag).
        </td>
    </tr>
    <tr>
        <th scope="row" class="align-content-center"></th>
        <td class="text-start align-content-center">
            Fahrten bis 2 Uhr morgens sind dem vorherigen Kalendertag zugeordnet (z.&#8239;B. eine Fahrt um 1 Uhr nur freitags verkehrt am Samstag um 1 Uhr).
        </td>
    </tr>
    </tbody>
</table>

@code {
    [Parameter] public required StopTimetableView StopTimetableView { get; init; }
}
