@using Timetable
@using Timetable.Views
@using TransitWebViewer.Utils

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">
            🕐
        </th>
        @if (StopTimetableView.ValidityMode is ValidityMode.Regular)
        {
            @foreach (var (index, days) in StopTimetableView.DaysPartition.Index())
            {
                <th scope="col" colspan="@StopTimetableView.MaximumColumns.ElementAt(index)" class="@days.CssColor()">
                    @days.Display()
                </th>
            }
        }
        else
        {
            @foreach (var (index, date) in StopTimetableView.DayOfTimetable.AllDatesUntil(StopTimetableView.LastDayOfTimetable ?? StopTimetableView.DayOfTimetable).Index())
            {
                <th scope="col" colspan="@StopTimetableView.MaximumColumns.ElementAt(index)" class="@(IHistory<VipTimetable.VipHistory>.OperationOn(date).KindOfDay(StopTimetableView.DaysPartition.Or()).CssColor())">
                    @date.ToString("D")
                </th>
            }
        }
    </tr>
    </thead>
    <tbody>
    @foreach (var (hour, info) in StopTimetableView.HourInfos)
    {
        <DepartureHour Hour="hour" HourInfo="info" StopTimetableView="StopTimetableView" />
    }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired] public required StopTimetableView StopTimetableView { get; init; }
}
